{% extends 'backoffice.html.twig' %}

{#  je recupère le contenu du block parent #}
{% block title %} Home {{ parent() }} {% endblock %}

{% block main %}
<div class="row">
			<!-- 100% 12 colonnes -->
			<div class="col-2"></div>
			<div class="col-8">
				<div class="jumbotron">
				<h2>
					Back office
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>



		</div>
{% endblock %}


